<!DOCTYPE html>
<html lang="ja">
<head>
   <title>Document</title>
</head>
<body>

<header id="commonHeader">
  <section id="flowsHead" class="wf-mplus1p">あなたにあったが1分でわかる</section>
  <section id="flows" class="wf-mplus1p">〇〇診断</section>
</header>

<div class="start">
            <h6>Are you ready?</h6>
            <%= link_to "診断を始める",  sindans_new_path, class: "link" %>
        </div>

</body>
</html>