  <div class="sense">
      
          <div class="point_box">
              <div class="box">
                <div class="f2">
                    <div class="ff2">
                    <%= image_tag 'yamabuki.jpg', class:'aka_image2' ,size: "100%x300px" %>
                    </div>
                    <div class="ghi22">
                        診断ページ
                        <div class="g">
                        色彩で個性を輝かせよう！
                        </div>
                        <div class="h">
                        あなたの個性を色彩の魔法で引き出し、毎日をもっと彩り豊かにしませんか？<br>この診断では、あなたが目指す雰囲気やその日の気分にぴったり合う色を提案します。<br>四季を彩る美しい自然の色や、色がもたらす心理的効果を活かして、<br>あなたに最適な配色スタイルを見つけ出します。<br>新たな色彩で、あなたの毎日に特別な輝きをプラスしてみてください！
                        </div>
                    </div>
                </div> 
              </div>
          </div>

          <ul class="qalist wf-mplus1p">
              <li id="1" class="question">
                  <a name="#1">
                  </a>
                        <div class="qbox">
                        あなたの心に一番響くのは？
                        </div>
                 <div class="qabox">
                        <a href="#2" onclick="show(2)" class="qabtn">
                        <div class="btnBox btnBox_n new-registration-link2">
                
                          源氏物語の色：
                          </div>
                          <div class="btnBox btnBox_nn">
                          
                         </div>
                        </a>
                        <a href="#3" onclick="show(3)" class="qabtn">
                        <div class="btnBox btnBox_n new-registration-link2"> 
                         季節の色：
                          </div>
                          <div class="btnBox btnBox_nn">
                           </div>
                        </a>
                        <a href="#4" onclick="show(4)" class="qabtn">
                        <div class="btnBox btnBox_n new-registration-link2">
                          自然の色彩：
                          </div>
                          <div class="btnBox btnBox_nn">
                           </div>
                        </a>
                        <a href="#5" onclick="show(5)" class="qabtn">
                        <div class="btnBox btnBox_n new-registration-link2">
                          今日の気分を纏う色：
                         </div>
                          <div class="btnBox btnBox_nn">

                         </div>
                        </a>
                        <a href="#6" onclick="show(6)" class="qabtn">
                        <div class="btnBox btnBox_n new-registration-link2">
                          あなたらしさを表す色：
                          </div>
                          <div class="btnBox btnBox_nn">
                          </div>
                        </a>
                        <a href="#7" onclick="show(7)" class="qabtn">
                        <div class="btnBox btnBox_n new-registration-link2">
                          色がもたらす力：
                          </div>
                          <div class="btnBox btnBox_nn">
                          </div>
                        </a>
                  </div>
              </li>
              
              <li id="2" class="question" >
                  <a name="#"></a>
                  <div class="qbox">
                  源氏物語の色：
                  </div>
                  <span class="q">
                  ──あなたを映し出す一色は？
                  </span>
                    
                  <div class="qabox">
                      <a href="#101" onclick="show(101)" class="qabtn">
                          
                          <div class="btnBox btnBox_n new-registration-link2">
                          紫の上の優雅さ
                          </div>
                      </a>
                      <a href="#103" onclick="show(103)" class="qabtn">
                        
                          <div class="btnBox btnBox_n new-registration-link2">
                          夕顔の儚さ
                          </div>
                      </a>
                      <a href="#104" onclick="show(104)" class="qabtn">
                      <div class="btnBox btnBox_n new-registration-link2">
                     
                          光源氏の輝き
                          </div>
                      </a>
                      <a href="#105" onclick="show(105)" class="qabtn">
                      <div class="btnBox btnBox_n new-registration-link">
                          </div>
                      </a>
                  </div>
              </li>

              <li id="3" class="question" >
                  <a name="#">
                  </a>
                  <div class="qbox"><span class="q"></span>
                  季節の色：
                  春の桜色、夏の青、秋の紅、冬の白。心地よい四季の色、あなたに一番似合うのは？
                  </div>
                  <div class="qabox">
                      <a href="#103" onclick="show(103)" class="qabtn">
                          <div class="btnBox btnBox_y">YES
                          </div>
                      </a>
                      <a href="#104" onclick="show(104)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                      <a href="#105" onclick="show(105)" class="qabtn">
                      <div class="btnBox btnBox_n">NO
                      </div>
                      </a>
                      <a href="#106" onclick="show(106)" class="qabtn">
                      <div class="btnBox btnBox_n">NO
                      </div>
                    </a>
                  </div>
              </li>

              <li id="4" class="question" >
                  <a name="#"></a>
                  <div class="qbox"><span class="q"></span>
                  自然の色彩：
                  春の桜色、夏の青、秋の紅、冬の白。心地よい四季の色、あなたに一番似合うのは？
                  </div>
                  <div class="qabox">
                      <a href="#101" onclick="show(101)" class="qabtn">
                          <div class="btnBox btnBox_y">YES
                          </div>
                      </a>
                      <a href="#102" onclick="show(102)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                      <a href="#103" onclick="show(103)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                      <a href="#104" onclick="show(104)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                  </div>
              </li>

              <li id="5" class="question" >
                  <a name="#"></a>
                  <div class="qbox">
                  今日の気分を纏う色：
                  </div>
                  <span class="q">
                  ──今日はどんな自分になりたい？
                </span>
                  <div class="qabox">
                      <a href="#101" onclick="show(101)" class="qabtn">
                      <div class="btnBox btnBox_n new-registration-link2">
                       穏やかでリラックス
                          </div>
                      </a>
                      <a href="#102" onclick="show(102)" class="qabtn">
                      <div class="btnBox btnBox_n new-registration-link2">
                          冒険心あふれる明るい色
                          </div>
                      </a>
                      <a href="#103" onclick="show(103)" class="qabtn">
                      <div class="btnBox btnBox_n new-registration-link2">
                          落ち着きと品格を感じさせる
                          </div>
                      </a>
                      <a href="#104" onclick="show(104)" class="qabtn">
                        <div class="btnBox btnBox_n new-registration-link2">
                      エッジの効いた洗練された美しさ
                          </div>
                      </a>
                  </div>
              </li>

              <li id="6" class="question" >
                  <a name="#"></a>
                  <div class="qbox"><span class="q">Q.</span>
                  あなたらしさを表す色：
                           日常を彩る中で、あなたが最も輝く色は？自分らしさが引き出される一色を見つけよう。
                  </div>
                  <div class="qabox">
                      <a href="#101" onclick="show(101)" class="qabtn">
                          <div class="btnBox btnBox_y">YES
                          </div>
                      </a>
                      <a href="#102" onclick="show(102)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                      <a href="#103" onclick="show(103)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                      <a href="#104" onclick="show(104)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                  </div>
              </li>

              <li id="7" class="question" >
                  <a name="#"></a>
                  <div class="qbox"><span class="q"></span>
                  色がもたらす力：
                          集中の青、情熱の赤──色の力で引き出したい自分は？
                  </div>
                  <div class="qabox">
                      <a href="#101" onclick="show(101)" class="qabtn">
                          <div class="btnBox btnBox_y">YES
                          </div>
                      </a>
                      <a href="#102" onclick="show(102)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                      <a href="#103" onclick="show(103)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                      <a href="#104" onclick="show(104)" class="qabtn">
                          <div class="btnBox btnBox_n">NO
                          </div>
                      </a>
                  </div>
              </li>
          </ul>

          <div class="answerList">
              <div id="101"  class="answer_point_box1">
                
                    <div class="title">
                        <p>──あなたを映し出す一色は？</p>
                    </div>
                    <div class="fs-18">
                          <span class="bg-y">紫の上の優雅さ</span>
                    </div>
                    <div class="iro">
                            <p>「<span class="font_test">葡萄染</span>と<span class="font_test2">今様色</span>」</p>
                    </div>
                    <%= image_tag "ebizome_imayouiro.jpg", class:"answer-image" ,size: "500x300px" %>

                    <div class="">
                          <div class="title11">
                                <div class="gennbunn">
                                    <div class="gennbunn1">
                                    <p>濃き赤きなど、さまざま選（え）らせたまひつつ、...</p>
                                    </div>
                                    <div class="gennbunn2">
                                        <p>これはかれはと取り具（ぐ）しつつ入る。</p>
                                    </div>
                                    <div class="gennbunn3">
                                        <p>...紅梅のいと紋浮きたる葡萄染の御小袿、</p>
                                    </div>
                                    <div class="gennbunn4">
                                        <p>今様色のいとすぐれたるとは、かの御料。</p>
                                    </div>
                                    <div class="gennbunn5">
                                        <p>「玉鬘」</p>
                                    </div>
                                </div>
                           </div>
                            <div class="wayaku">
                                <p>
                                年の暮、源氏は女君たちに新年の晴着を贈る。
                                <br>紫の上が側にいて、源氏が誰それにはどの色のをと決めるのを見ている。
                                <br>彼女の分は、紅梅の模様がくっきりと織り出された小袿（貴婦人の略礼装）。
                                <br>葡萄染は紅がかった薄紫。
                                <br>今様色（いまよういろ）は、濃い紅梅色。
                                <br>これは下に着る袿であろう。
                                </p>
                            </div>

                          <p><a href="#" class="square_btn"></a></p>
                    
                </div>
              </div>

              <div id="102"  class="answer point_box">
                  <div class="box">
                      <div class="title22">
                          <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">『〇〇』</span></span>です！</p>
                      </div>
                      <div class="txt">
                          <div class="img">
                              
                          </div>
                          <p>説明文「タイトル」</p>
                          <p>詳細を記載</p>
                          <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                      </div>
                  </div>
              </div>

              <div id="103"  class="answer point_box">
                  <div class="box">
                      <div class="title">
                          <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">『〇〇』</span></span>です！</p>
                      </div>
                      <div class="txt">
                          <div class="img">
                              
                          </div>
                          <p>説明文「タイトル」</p>
                          <p>詳細を記載</p>
                          <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                      </div>
                  </div>
              </div>

              
        <div id="104" class="answer point_box2">
            <div class="box">
                <div class="title">
                    <p>──今日はどんな自分になりたい？</p>
                </div>
                <span class="bg-y">エッジの効いた洗練された美しさ</span>
                <div class="iro">
                    <p>「<span class="font_test4">白縹</span><span class="font_test3">しろはなだ</span>」</p>
                </div>
                <%= image_tag "sirohanada.png", class: "answer-image", size: "500x300px" %>
                <div class="txt">
                    <div class="img">
                        <p>白縹（しろはなだ）。<br>その名を聞くだけで、洗練された美しさが思い浮かぶこの色は、淡い青みを帯びた白色。<br>まるで清潔感の中にひとひらの神秘を忍ばせたかのような、絶妙なニュアンスを持っています。
                        シンプルでありながらも力強い存在感を放ちます。
                        </div>
                        <div class="img2">
                        <br>無駄なものをそぎ落とし、洗練された美しさを追求したこの色は、まるで静かな湖面に映る月のように、見る人の心に深く刻まれます。<br>どこか冷たい印象を与えつつ、その冷静さの裏には柔らかな温もりが感じられ、静かに心を打つ力を秘めています。クールでありながらも温かみを持つ白縹は、ただの色ではなく、装いに一つの物語を与える存在です。<br>その繊細な美しさは、他の色と組み合わせても圧倒的な存在感を発揮し、どんなシーンでもその空気を引き締めてくれる。<br>まさに、エッジの効いた洗練された美しさが詰まった色なのです。</p>
                    </div>
                    <%= image_tag "sirohanadahuku.png", class: "answer-image3", size: "450x300px" %>

                    <div class="img3">
                          白縹（しろはなだ）の魅力が映る一瞬。<br>シンプルでありながら、圧倒的な存在感を放つ
                    </div>
                    <p><a href="#" class="square_btn"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
             
