
<div class="1">
伝統のささやき
</div>

<div class="2">
ようこそ、色彩の世界へ！
</div>

<div class="3">
ここでは、日本の四季折々の自然が織りなす「伝統色」と、平安時代の宮廷文化から生まれた「襲の色目」の配色美を紐解きます。
雅やかな季節の変化を色で感じ、そして色を重ねることで表現される繊細な美の秘密を探っていきましょう。
古代から現代へと続く色彩の旅路に心を踊らせてください。
</div>

<div class="4">
かさねのいろめ説明
</div>

<div class="5">
<%= link_to 'かさねのいろめ種類別一覧',  two_path %>
</div>

<div class="6">
<%= link_to '診断',  sindans_new_path %>
</div>